
{% extends 'base.html' %}

{% load static %}

{% block content %}
  
  <div class="main-user-post-card">

         <div class="user-post-card-1">
            <p>Name</p>
            <p>title</p>
            <p><img class='user-post-profile'src="{% static 'images/dinosaur.jpg' %}" alt="hi"></p>
         </div>
         <div class="user-post-card-2">
            <p>date and time of post or reply</p>
            <!-- when quote reply -->
      
            <p>description</p>
            <p>reply of quote</p>
            <p>reply of quote</p>
            <p>reply of quote</p>
         

            

         </div>
      
  </div>
{% endblock %}    

