
{% load static %}

<nav class='navbar-container'>
  <div class="navbar-container-buttons">
    <span><a href="{% url 'home-view' %}">Home</a></span>
    <span><a href="{% url 'forumpost:forum-page-view' %}">Forum</a></span>
  </div>

  <div class='login-bar'>
    <form>
      <label for="">Username</label>
      <input type="text" name="" id="">
      <label for="">Password</label>
      <input type="password" name="" id="">
      <a href="."><button>Login</button></a><br>
      <a href=".">Forgot password?</a>
      <a class='register' href=".">Register</a>

    </form>
  
  </div>

</nav>